{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/styles/photo_preview.css" />
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Share</h2>
            <p><a class="btn btn-default" href="{{ url_for('share') }}">Share your photos to cloud &raquo;</a></p>
        </div>
    </div>
</div>

<div id="photo_preview" class="photo_preview row">
    <button class="reload_button">Reload</button>
    {% if images is not defined %}
    <h2>You haven't any photo yet :(</h2>
    {% endif %}
    <ol>
    {% for image in images %}
        <li class="preview_image" id="{{ image.id }}">
            <button name="remove_{{ loop.index }}" class="remove_button" value="{{ url_for('photoRemove', id = image.id) }}">X</button>
            <a class="image" href="{{ url_for('photoDownload',username = current_user.name, id = image.id) }}">
                <img src="{{ image.url }}" height="{{ image.height }}" alt="{{ image.filename }}" />
            </a>
            <div>
                <p class="file_number">{{ loop.index }}.</p><p class="file_desc"> {{ image.filename }}</p>
            </div>
        </li>
    {% endfor %}
    </ol>
      
</div>

{% endblock %}


{% block scripts %}
    <script src="/static/scripts/sha512.min.js"></script>
    <script src="/static/scripts/photo/photo_reload.js"></script>
    <script>
        let photoReloader = new PhotoReloader("#photo_preview", 10000);
    </script>
{% endblock %}