{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/styles/login.css" />
{% endblock %}


{% block content %}

    <div class="jumbotron">
        <div class="row justified">
            <div class="login-box">
                <h2 class="centered_text">Sign in</h2>
                <form id="login" method="post" class="login" action="{{ url_for('login') }}{{ next_redirect }}">
                    <div class="error">
                        {{ login_error }}
                    </div>
                    <div class="row">
                        <label for="username">Username</label>
                        <input class="username right" type="text" name="username" required>
                    </div>
                    <div class="row">
                        <label for="password">Password</label>
                        <input class="password right" type="password" name="password" required>
                    </div>
                    <button type="submit" class="center">Sign in</button>
                    <input type="checkbox" class="remember" name="remember">Remember me
                </form>
            </div>

            <div class="login-box">
                <h2 class="centered_text">Or sign up</h2>
                <form id="signup" method="post" class="signup" action="{{ url_for('signup') }}{{ next_redirect }}">
                    <div class="error">
                        {{ signup_error }}
                    </div>
                    <div class="row">
                        <label for="username">Username</label>
                        <input class="username right" type="text" name="username" required>
                    </div>
                    <div class="row">
                        <label for="password">Password</label>
                        <input class="password right" type="password" name="password" required>
                    </div>
                    <button type="submit" class="center">Sign up</button>
                    <input type="checkbox" name="remember">Remember me
                </form>
            </div>
        </div>
    </div>


    {% endblock %}


    {% block scripts %}
    <script src="/static/scripts/sha512.min.js"></script>
    <script src="/static/scripts/auth/auth.js"></script>
    <script>
        let upLogin = new UPSender("#login");
        let upSignup = new UPSender("#signup");
    </script>
    {% endblock %}
